<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="np.com.aayushgautam.believe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Believe">
        <activity android:name=".WellnessCheck.Results"></activity>
        <activity android:name=".WellnessCheck.FactorInput" />
        <activity android:name=".WellnessCheck.FactorsChooser" />
        <activity android:name=".WellnessCheck.WellnessCheckDashboard" />
        <activity android:name=".QuestionnaireActivity" />
        <activity android:name=".ChatWithSomeone.ChatScreen" />
        <activity android:name=".SelfHelp.BlogView" />
        <activity android:name=".SelfHelp.SelfHelpDashboard" />
        <activity android:name=".Meditate.MeditationWindow" />
        <activity android:name=".Meditate.MeditationDashboard" />
        <activity android:name=".ChatWithSomeone.ChatWithSomeoneDashboard" />
        <activity android:name=".AboutBelieve.AboutBelieveDashboard" />
        <activity
            android:name=".MentahHealthProfessional.ContactProfessional"
            android:parentActivityName=".MentahHealthProfessional.MentalHealthDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MentahHealthProfessional.MentalHealthDashboard"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journal.ViewJournal"
            android:parentActivityName=".Journal.JournalDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journal.AddJournal"
            android:parentActivityName=".Journal.JournalDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journal.JournalDashboard"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>